.main_feedback {
    padding: 100px 25px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .swiper_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin-top: 50px;

        .feedbackSwiper-pagination {
            position: static;
            max-width: none;
            width: fit-content;
            display: flex;
            gap: 10px 25px;
            align-items: center;

            .swiper-pagination-bullet-active {
                background: #E55670;
            }

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.feedbackSwiper {
    .swiper-slide {
        height: 500px;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 265px 24px 24px;
        width: 306px;

        .back_color {
            position: absolute;
            height: 60%;
            background: linear-gradient(180deg, rgba(229, 86, 112, 0) 13.8%, rgba(229, 86, 112, 0.9) 35%, #E55670 44.32%, #E55670 108.01%);
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
        }

        .cont {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h3 {
                color: #FFF;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 22.4px;
                text-align: left;
            }

            .stars {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                svg {
                    opacity: .5;
                }

                svg.active {
                    opacity: 1;
                }
            }

            .feed_text {
                color: #FFF;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .dop {
                color: #FFF;
                padding-bottom: 5px;
                border-bottom: 1px dashed #FFF;
                max-width: fit-content;
            }

            .dop:hover {
                opacity: .5;
            }
        }
    }


}

.feedbackSwiper {
    .swiper-slide.v2 {
        height: auto;
    }

}

@media (max-width: 470px) {
    .main_feedback {
        padding: 50px 0;
        padding-left: 0;
        padding-right: 0;

        h2 {
            margin-bottom: 30px;
            padding: 0 25px;
        }
    }

    .main_feedback .swiper_container {
        margin-top: 30px;
    }

    .feedbackSwiper .swiper-slide .cont .feed_text,
    .feedbackSwiper .swiper-slide .cont .dop {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
        text-align: left;

    }
}

@media (max-width: 350px) {
    .main_feedback {

        h2 {
            padding: 0 15px;
        }
    }
}